/* MOMCILO SAVIC */

.admin .column{
	height:100%;
}

.admin .column.ocene{
	box-sizing: border-box;
	display: inline-block;
	float:right;
	width: 50%;
	border-left: solid;
	border-width: 1%;
	padding-left: 1%;
	border-color: lightgray;
	box-sizing: border-box;
	overflow-y:scroll;
}

.admin .column.lista{
	box-sizing: border-box;
	padding-right: 1%;
	display: inline-block;
	float:left;
	width: 50%;
	overflow-y:scroll;
}

.admin .title{
	padding: 0 1%;
	font-size: 1.5vw;
	border-bottom: solid;
	margin-bottom: 3%;
}

.admin .legenda{
	box-sizing:border-box;
	padding: 0 1%;
	font-size: 1vw;
	border-bottom: solid;
	margin-bottom: 1%;
	border-color:gray;
	border-width: 1px;
}

.admin .lista .row, .admin .ocene .row{
	padding: 1%;
	float: left;
	width: 100%;
	border: none;
	border-width: 1px;
	border-color: gray;
	max-height: 25%;
	margin-bottom: 1%;
	font-size: 1.5vw;
	padding-bottom: 2%;
}

.admin .ocene .row, .admin .lista .row{
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
	font-size: 1vw;
}

.admin .ocene .row span, .admin .ocene .legenda span{
	display:inline-block;
	box-sizing:border-box;
	width: 15%;
	text-align: left;
}

.admin .ocene .row .ocena, .admin .ocene .legenda .ocena{
	display:inline-block;
	box-sizing:border-box;
	width: 10%;
	text-align: left;
}

.admin .ocene .row .opis, .admin .ocene .legenda .opis{
	display:inline-block;
	box-sizing:border-box;
	width: 50%;
	text-align: left;
}



.admin .lista .row span, .admin .lista .legenda span{
	display:inline-block;
	box-sizing:border-box;
	width: 30%;
	text-align: left;
}

.admin .ocene .dugmad{
	position:fixed;
	box-sizing:border-box;
	bottom: 0;
	right:0;
	text-align: center;
	margin:auto;
	width: 50%;
	border-left: solid;
	border-top: solid;
	border-color: lightgray;
	background-color: #eeeeee;
	height: 10%;
	padding-top: 1%;
}

.admin .ocene .dugmad button{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font-size: 1vw;
	padding: 1%;
	margin:auto;
}

.admin .ocene .dugmad button:hover{
	cursor:pointer;
}