.obavestenja{
	box-sizing: border-box;
	display: inline-block;
	float:right;
	width: 50%;
	border-left: solid;
	border-width: 1%;
	padding-left: 1%;
	border-color: lightgray;
	box-sizing: border-box;
}

.zahtevi{
	box-sizing: border-box;
	padding-right: 1%;
	display: inline-block;
	float:left;
	width: 50%;
}

.zahtevi .title, .obavestenja .title{
	padding: 0 1%;
	font-size: 1.5vw;
	border-bottom: solid;
	margin-bottom: 2%;
}

.obavestenja .row, .zahtevi .row{
	padding: 1%;
	float: left;
	width: 100%;
	border: none;
	border-width: 1px;
	border-color: gray;
	max-height: 25%;
	margin-bottom: 3%;
	font-size: 1.2vw;
	padding-bottom: 2%;
}

/* Clear floats after the columns */
.obavestenja .row:after, .zahtevi .row:after {
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-height: 600px) and (min-width: 600px) {
 .obavestenja .row, .zahtevi .row {
    width: 100%;
	max-height:40%;
  }
}

.obavestenja .datum, .zahtevi .datum{
	font-size: 1.2vw;
	font-style: italic;
	color: darkgray;
	border-bottom: solid;
	border-width: 1px;
	width: auto;
	padding-bottom: 1%;
}

.obavestenja button, .zahtevi button{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font-size: 1vw;
	padding: 1%;
}

.obavestenja span, .zahtevi span{
	font-weight: bold;
}


.obavestenja button:hover, .zahtevi button:hover{
	cursor: pointer;
}

.obavestenja .row, .zahtevi .row{
	width: 100%;
}

.obavestenja .datum:after, .zahtevi .datum:after{
	content: '\21D3';
	font-style: normal;
}

.obavestenja .zahtev_izvrsen .status:after, .{
	content: "si ";
}

.obavestenja .zahtev_izvrsen .korisnik:after{
	content: "za ";
}

.zahtevi .zahtev_na_cekanju .korisnik:after{
	content: "je poslao zahtev za ";
}

.obavestenja .odgovor .korisnik:after{
	content: "je ";
}

.obavestenja .odgovor .status:after{
	content: "zahtev za ";
}