/* MOMCILO SAVIC */

.oceni .column{
	height:100%;
	box-sizing:border-box;
	width: 50%;
}

.oceni .column.ocene{
	box-sizing: border-box;
	display: inline-block;
	float:right;
	width: 50%;
	border-left: solid;
	border-width: 1%;
	padding-left: 1%;
	border-color: lightgray;
	box-sizing: border-box;
	overflow-y:scroll;
	overflow-x:hidden;
}

.oceni .column.lista{
	box-sizing: border-box;
	padding-right: 1%;
	display: inline-block;
	float:left;
	width: 50%;
	overflow-y:scroll;
}

.oceni .title{
	padding: 0 1%;
	font-size: 1.5vw;
	border-bottom: solid;
	margin-bottom: 3%;
}

.oceni .legenda{
	box-sizing:border-box;
	padding: 0 1%;
	font-size: 1vw;
	border-bottom: solid;
	margin-bottom: 1%;
	border-color:gray;
	border-width: 1px;
}

.oceni .lista .row, .oceni .ocene .row{
	padding: 1%;
	float: left;
	width: 100%;
	border: none;
	border-width: 1px;
	border-color: gray;
	max-height: 25%;
	margin-bottom: 1%;
	font-size: 1.5vw;
	padding-bottom: 2%;
}

.oceni .ocene .row, .oceni .lista .row{
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
	font-size: 1vw;
}

.oceni .ocene .row span, .oceni .ocene .legenda span{
	display:inline-block;
	box-sizing:border-box;
	width: 30%;
	text-align: left;
}


.oceni .lista .row span, .oceni .lista .legenda span{
	display:inline-block;
	box-sizing:border-box;
	width: 25%;
	text-align: left;
}

.oceni .lista .row .cena, .oceni .lista .legenda .cena{
	display:inline-block;
	box-sizing:border-box;
	width: 20%;
	text-align: left;
}

.oceni .ocene .dugmad{
	position:fixed;
	box-sizing:border-box;
	bottom: 0;
	right:0;
	text-align: center;
	margin:auto;
	width: 50%;
	border-left: solid;
	border-top: solid;
	border-color: lightgray;
	background-color: #eeeeee;
	height: 25%;
	padding-top: 1%;
	font-size: 1vw;
}

.oceni .ocene .dugmad button{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font-size: 1vw;
	padding: 1%;
	margin:auto;
}

.oceni .ocene .dugmad button:hover{
	cursor:pointer;
}

.oceni .ocene .dugmad #z1,.oceni .ocene .dugmad #z2,.oceni .ocene .dugmad #z3,.oceni .ocene .dugmad #z4,.oceni .ocene .dugmad #z5{
	cursor:pointer;
} 

.oceni .ocene .dugmad #z:hover{
	color:gold;
}

.oceni .ocene .dugmad #z1:hover ~ span, .oceni .ocene .dugmad #z2:hover ~ span, .oceni .ocene .dugmad #z3:hover ~ span, .oceni .ocene .dugmad #z4:hover ~ span{
	color:black;
}

.oceni .ocene .dugmad #z{
	font-size:1.5vw;
}

.oceni .ocene .dugmad div{
	width:50%;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right:1%;
}

.oceni .ocene .dugmad textarea{
	width:100%;
}