.termini .row {
	box-sizing: border-box;
	padding: 1%;
	float: left;
	width: 100%;
	border: solid;
	border-width: 1px;
    border-radius: 5px;
	border-color: gray;
	max-height: 30%;
	margin-bottom: 3%;
    background-color: white;
}

/* Clear floats after the columns */
.termini .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-height: 600px) and (min-width: 600px) {
 .termini .row {
    width: 100%;
	max-height:40%;
  }
}

.termini .datum_vreme{
	display: inline-block;
	float: left;
	padding: 1%;
	height: 100%;
	width: 15%;
}

.termini .datum{
	border-right: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: gray;
	text-align: center;
	font-weight: bold;
	font-size: 2vw;
}
.termini .vreme{
	color: gray;
	text-align: center;
	font-size: 2vw;
}


.termini .info{
	float: right;
	display: inline-block;
	width: 80%;
	text-align: right;
	height: 100%;
}

.termini .info .osnovno{
	padding-right: 1%;
	display: inline-block;
	width: 30%;
	float: left;
	border-right: solid;
	border-color: black;
	border-width: 1px;
}

.termini .info .opis{
	display: inline-block;
	float: right;
	font-size: 1.3vw;
	width: 60%;
	font-style: italic;
	color: gray;
}

.termini .naslov{
	font-size: 2vw;
}

.termini .adresa{
	font-size: 1.5vw;
	font-style: italic;
	color: gray;
}

.termini .cena{
	font-size: 1.5vw;
}

.termini .rejting:before{
	content:'\2606';
}  

.termini .korisnik{
	font-size: 1.3vw;
	padding-top: 1vh;
	font-style: italic;
	color: #4CAF50;
}

.termini .dugme{
	margin: auto;
}

.termini .dugme button{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	padding: 2%;
	font-size: 1vw;
}

.termini .dugme button:hover, .termini .ponudi button:hover{
	cursor: pointer;
}

.termini .br_igraca:before{
	content: "Potreban broj igraca: ";
}

.termini .br_igraca{
	font-size: 1vw;
	font-style: italic;
}

.termini .ponudi{
	font-size: 1vw;
}

.termini .ponudi button{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	padding: 0.5%;
	font-size: 1vw;
}